<template>
    <div class="customer-supplier">
        <div class="breadcrumbs-fixed panel-action">
            <div class="row">
                <div class="supplier-act act">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="left-action text-left clearfix">
                            <h2>Nhà cung cấp</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-action text-right">
                            <div class="btn-groups">
                                <button type="button" class="btn btn-primary" id="btn-create-supplier">
                                    <i class="fa fa-plus"></i>Tạo NCC
                                </button>
                                <button type="button" class="btn btn-success"><i class="fa fa-download"></i> Xuất
                                    Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-space customer"></div>
        <div>
            <div class="sup-sear panel-sear">
                <div>
                    <div class="form-group col-md-6 padd-0">
                        <input type="text" class="form-control txt-ssupplier"
                               placeholder="Nhập tên, mã hoặc SDT Nhà cung cấp">
                    </div>
                    <div class="form-group col-md-6 ">
                        <div class="col-md-4 padd-0" style="margin-right: 10px;">
                            <select id="sup-option" class="form-control">
                                <option value="0">Tất cả</option>
                                <option value="1">NCC từng nhập hàng</option>
                                <option value="2">Còn nợ NCC</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary btn-large btn-ssup"><i
                            class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
            <div class="sup-body">
                <ListSupplier/>
            </div>
        </div>
    </div>
</template>
<script>
    import ListSupplier from './list-supplier'
    export default {
        name: 'Suppliers',
        components: {
            ListSupplier
        }
    }
</script>
