<template>
    <div class="table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Mã NCC</th>
                <th class="text-center">Tên NCC</th>
                <th class="text-center">Email</th>
                <th class="text-center">Điện thoại</th>
                <th class="text-center">Địa chỉ</th>
                <th class="text-center">ATM</th>
                <th class="text-center">Lần cuối nhập hàng</th>
                <th class="text-center" style="background-color: #fff;">Tổng tiền hàng</th>
                <th class="text-center">Nợ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"
                    style="cursor: pointer; color: #1b6aaa;"></td>
                <td class="text-center"
                    style="cursor: pointer; color: #1b6aaa;"></td>
                <td class="text-center"></td>
                <td class="text-left"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-right"
                    style="font-weight: bold; background-color: #f9f9f9;">
                </td>
                <td class="text-right"></td>
                <td class="text-center">
                    <i class="fa fa-edit" style="cursor:pointer;"></i>
                    <i class="fa fa-trash-o" style="cursor:pointer;"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info summany-info clearfix" role="alert">
            <div class="sm-info pull-left padd-0">
                Số NCC:<span></span>
                Tổng tiền: <span> đ</span>
                Tổng nợ: <span> đ</span>
            </div>
            <div class="pull-right ajax-pagination">
                Pagination
            </div>
        </div>
    </div>
</template>
