<template>
    <div class="modal fade" id="create-sup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tạo mới nhà cung cấp</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="frm-crsup">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="supplier_code">Mã NCC</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="supplier_code" name="supplier_code" class="form-control" value=""
                                       placeholder="Mã nhà cung cấp (Tự sinh nếu bỏ trống)">
                                <span style="color: red; font-style: italic;" class="error error-supplier_code"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="supplier_name">Tên NCC</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="supplier_name" name="supplier_name" class="form-control" value=""
                                       placeholder="Nhập tên nhà cung cấp (bắc buộc)">
                                <span style="color: red; font-style: italic;" class="error error-supplier_name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="supplier_phone">Số điện thoại</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="supplier_phone" name="supplier_phone" class="form-control"
                                       value="" placeholder="Số điện thoại">
                                <span style="color: red; font-style: italic;" class="error error-supplier_phone"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="supplier_email">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="supplier_email" name="supplier_email" class="form-control" value=""
                                       placeholder="Nhập email nhà cung cấp ( ví dụ: kh10@gmail.com )">
                                <span style="color: red; font-style: italic;" class="error error-supplier_email"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="supplier_addr">Địa chỉ</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="address" name="address" class="form-control"
                                       value="" placeholder="">
                                <span style="color: red; font-style: italic;" class="error error-supplier_addr"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="ATM">ATM</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="ATM" name="ATM" class="form-control"
                                       value="" placeholder="">
                                <span style="color: red; font-style: italic;" class="error error-supplier_addr"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="supplier_note">Ghi chú</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="supplier_note" name="supplier_note" class="form-control" value="" placeholder="">
                                <span style="color: red; font-style: italic;" class="error error-supplier_notes"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm btn-crsup" id="btn-save"><i
                                class="fa fa-check"></i> Lưu
                            </button>
                            <button type="button" class="btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                                class="fa fa-undo"></i> Bỏ qua
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
