<template>
    <div class="app">
        <header>
            <Header/>
        </header>
        <section class="main" role="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 padd-0">
                        <Sidebar/>
                    </div>
                    <div class="col-md-10 padd-left-0">
                        <div class="main-content">
                            <router-view/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import Sidebar from "../components/Sidebar";
import Header from "../components/Header";
export default {
  name: 'full',
  components: {
      Header,
      Sidebar
  },
}
</script>
