<template>
    <div class="products">
        <div class="breadcrumbs-fixed panel-action">
            <div class="row">
                <div class="products-act">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="left-action text-left clearfix">
                            <h2>Danh sách sản phẩm</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-action text-right">
                            <div class="btn-groups">
                                <router-link :to="{ name: 'CreateProduct' }" tag="a" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Tạo sản phẩm
                                </router-link>
                                <a href="" class="btn btn-success"><i class="fa fa-download"></i> Xuất
                                    Excel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-space orders-space"></div>

        <div class="products-content">
            <div class="product-sear panel-sear">
                <div class="">
                    <div class="form-group col-md-5 padd-0">
                        <input type="text" class="form-control" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm"
                               id="product-search">
                    </div>
                    <div class="form-group col-md-7 ">
                        <div class="col-md-3 padd-0" style="margin-right: 10px;">
                            <select class="form-control" id="search-option-1">
                                <option value="1">Đang kinh doanh</option>
                                <option value="2">Đã ngừng kinh doanh</option>
                                <option value="3">Đã xóa</option>
                            </select>
                        </div>
                        <div class="col-md-3 padd-0" style="margin-right: 10px;">
                            <select class="form-control search-option-2" id="prd_group_id">
                                <option value="-1" selected="selected">--Danh mục--</option>
                            </select>
                        </div>
                        <div class="col-md-3 padd-0" style="margin-right: 10px;">
                            <select class="form-control search-option-3" id="prd_manufacture_id">
                                <option value="-1" selected="selected">--Nhà sản xuất--</option>
                                <optgroup label="Chọn nhà sản xuất">

                                </optgroup>
                                <optgroup label="------------------------">
                                    <option value="product_manufacture" data-toggle="modal"
                                            data-target="#list-prd-manufacture">Tạo mới
                                        Nhà sản xuất
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary btn-large btn-ssup"><i
                            class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
            <div class="delete-multi" style="margin-bottom: 10px">
                <button type="button" id="delete-multi" class="btn btn-danger btn-large btn-ssup"><i
                    class="fa fa-trash-o"></i> Xóa nhiều
                </button>
            </div>
            <div class="product-main-body" id="product-list">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center"><label class="checkbox" style="margin: 0;"><input type="checkbox"
                                                                                                  class="checkbox chkAll"><span
                            style="width: 15px; height: 15px;"></span></label></th>
                        <th class="text-center">Hình ảnh</th>
                        <th class="text-center">Mã sản phẩm</th>
                        <th class="text-center">Tên sản phẩm</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center" style="background-color: #fff;">Giá bán</th>
                        <th class="text-center">Danh mục</th>
                        <th class="text-center">Nhà sản xuất</th>
                        <th class="text-center">Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center"><label class="checkbox" style="margin: 0;"><input type="checkbox"
                                                                                                  class="checkbox chk"><span
                            style="width: 15px; height: 15px;"></span></label>
                        </td>
                        <td class="text-center">
                            <img src=""
                                 alt="" width="50" height="50"/>
                        </td>
                        <td class="text-center"></td>
                        <td class="text-left prd_name"
                            style="color: #2a6496; cursor: pointer;">
                        </td>
                        <td class="text-center"></td>
                        <td class="text-right"
                            style="font-weight: bold;">
                        </td>
                        <td></td>
                        <td>mm</td>
                        <td><span class="badge badge-success">Đang kinh doanh</span></td>

                        <td class="text-center">
                            <a href="">
                                <i title="Copy" class="fa fa-files-o blue"
                                   style="margin-right: 5px; color: #C6699F; cursor: pointer;"></i>
                            </a>
                            <a href=""><i title="Sửa" class="fa fa-edit"
                                          style="margin-right: 5px; color: #C6699F; cursor: pointer;"></i></a>
                            <i class="fa fa-trash-o" style="color: darkred;" title="Xóa"></i>
                            <i title="Ngừng kinh doanh" class="fa fa-pause"
                               style="margin-right: 5px; color: #C6699F; cursor: pointer;"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-info summany-info clearfix" role="alert">
                    <div class="sm-info pull-left padd-0">SL sản phẩm hiển thị/SL sản phẩm:
                        <span>1/3</span></div>
                    <div class="pull-right ajax-pagination">
                        paginate
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Products'
    }
</script>
