<template>
    <div class="pos">
        <Header/>
        <section id="pos" class="main" role="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 padd-left-0">
                        <div class="main-content">
                            <div class="row">
                                <div class="orders-act">
                                    <div class="col-md-8">
                                        <div class="order-search" style="margin: 10px 0px; position: relative;">
                                            <input type="text" class="form-control"
                                                   placeholder="Nhập mã sản phẩm hoặc tên sản phẩm (F2)"
                                                   id="search-pro-box">
                                            <div id="search-result-product"></div>
                                        </div>
                                        <div class="product-results">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th>Mã hàng</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hình ảnh</th>

                                                    <th class="text-center">Số lượng</th>
                                                    <th class="text-center">Giá bán</th>
                                                    <th class="text-center">Thành tiền</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody id="pro_search_append">
                                                </tbody>
                                            </table>

                                            <div class="alert alert-success" style="margin-top: 30px;" role="alert">Gõ mã
                                                hoặc tên sản phẩm vào hộp
                                                tìm kiếm để thêm hàng vào đơn hàng
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="morder-info" style="padding: 4px;">
                                                    <div class="tab-contents" style="padding: 8px 6px;">
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div style="padding:0px" class="col-md-4">
                                                                <label>Khách hàng</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="col-md-10 padd-0" style="position: relative;">
                                                                    <input id="search-box-customer" class="form-control"
                                                                           type="text"
                                                                           placeholder="Tìm khách hàng (F4)"
                                                                           style="border-radius: 3px 0 0 3px !important;"><span
                                                                    style="color: red; position: absolute; right: 5px; top:5px; "
                                                                    class="del-cys"></span>

                                                                    <div id="search-result-customer"></div>
                                                                </div>
                                                                <div class="col-md-2 padd-0">
                                                                    <button type="button" id="btn-create-customer"
                                                                            class="btn btn-primary"
                                                                            style="border-radius: 0 3px 3px 0; box-shadow: none; padding: 7px 11px;">
                                                                        +
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div style="padding:0px" class="col-md-4">
                                                                <label>NV bán hàng</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select class="form-control" id="sale_id">
                                                                    <option value="">--Chọn--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div style="padding:0px" class="col-md-4">
                                                                <label>Ghi chú</label>
                                                            </div>
                                                            <div class="col-md-8">
                                    <textarea id="note-order" cols="" class="form-control" rows="3"
                                              style="border-radius: 0;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="lighter" style="margin-top: 0;">
                                                    <i class="fa fa-info-circle blue"></i>
                                                    Thông tin thanh toán
                                                </h4>

                                                <div class="morder-info" style="padding: 4px;">
                                                    <div class="tab-contents" style="padding: 8px 6px;">
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label>Hình thức</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    <input type="radio" class="payment-method"
                                                                           name="method-pay" value="1" checked>
                                                                    Tiền mặt &nbsp;
                                                                    <input type="radio" class="payment-method"
                                                                           name="method-pay" value="2"> Thẻ&nbsp;
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label>Tiền hàng</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="total-money" id="money">
                                                                    0
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label>Giảm giá (F7)</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text"
                                                                       class="form-control text-right txtMoney discount-order"
                                                                       placeholder="0" style="border-radius: 0 !important;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label>Tổng cộng</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="total-after-discount">
                                                                    0
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4 padd-right-0">
                                                                <label>Khách đưa (F8)</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text"
                                                                       class="form-control text-right txtMoney customer-pay"
                                                                       placeholder="0" style="border-radius: 0 !important;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label class="debt">Còn nợ</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="debt">0</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="btn-groups pull-right" style="margin-bottom: 50px;">
                                                    <button type="button" class="btn btn-primary"
                                                            onclick="cms_save_orders(3)"><i
                                                        class="fa fa-check"></i> Lưu (F9)
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            onclick="cms_save_orders(4)"><i class="fa fa-print"></i> Lưu và
                                                        in (F10)
                                                    </button>
                                                    <a href="" class="btn btn-default"><i
                                                        class="fa fa-arrow-left"></i> Hủy
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Header from "../../components/Header";
    export default {
        name: 'Pos',
        components: {Header}
    }
</script>
