<template>
    <div class="background" style="background-color: #000; opacity: 0.9; min-height: 1280px">
        <header id="main-header" style="padding-top: 150px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <center style="    font-size: 40px;
    color: #fff;
    padding-top: 80px;">SHOP FASHION
                        </center>
                    </div>
                </div>
            </div>
        </header>
        <section class="main" role="main">
            <div class="container">
                <div class="row">
                    <div class="login-container col-md-6 col-md-offset-3">
                        <div class="login-frame clearfix">
                            <center><h3 class="heading col-md-10 col-md-offset-1 padd-0"><i class="fa fa-lock"></i>Đăng
                                nhập vào hệ thống</h3></center>
                            <div class="col-md-10 col-md-offset-1">
                                <ValidationObserver ref="observer">
                                    <form slot-scope="{ validate }" @submit.prevent="validate().then(login)"
                                          class="form-horizontal login-form frm-sm">
                                        <div class="form-group input-icon">
                                            <label for="inputEmail3" class="sr-only control-label">Email</label>
                                            <ValidationProvider rules="required|email|min:10|max:100"
                                                                v-slot="{ errors }" class="validate-provider"
                                                                name="Email">
                                                <input type="text" v-model="user.email"
                                                       class="form-control" id="inputEmail3"
                                                       placeholder="Email/Mã Đăng nhập">
                                                <i class="fa fa-user icon-right"></i>
                                                <span class="error">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </div>
                                        <div class="form-group input-icon">
                                            <label for="inputPassword3" class="sr-only control-label">Password</label>
                                            <ValidationProvider rules="required|min:6|max:50"
                                                                v-slot="{ errors }" class="validate-provider"
                                                                name="Password">
                                                <input type="password" v-model="user.password"
                                                       class="form-control" id="inputPassword3" placeholder="Mật khẩu">
                                                <i class="fa fa-lock icon-right"></i>
                                                <span class="error">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </div>

                                        <div class="form-group input-icon">
                                            <label>
                                                <input type="checkbox"> Nhớ mật khẩu
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-sm">Đăng nhập</button>
                                        </div>
                                        <div class="link-action text-center">
                                            <div class="col-sm-12 col-xs-12">
                                                <span>Nếu bạn không nhớ mật khẩu !! </span>
                                                <a href="" style="margin-top: 5px; color: #0f74a8; text-align: center; font-weight: 600;text-decoration: underline" class="fg-passw"><span class="alert-link">Quên mật khẩu</span></a>
                                            </div>
                                        </div>
                                    </form>
                                </ValidationObserver>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {ValidationObserver, ValidationProvider} from 'vee-validate';
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'

    export default {
        name: 'Login',
        components: {
            ValidationObserver,
            ValidationProvider,
            Loading
        },
        data() {
            return {
                user: {
                    email: '',
                    password: ''
                },
                isLoading: false,
                fullPage: true
            }
        },
        methods: {
            async login() {
                const isValid = await this.$refs.observer.validate();
                if (isValid) {
                    this.isLoading = true;
                    await this.$store.dispatch('login', this.user)
                        .then(() => {
                            this.isLoading = false;
                            this.$router.push({name: 'Home'});
                        }).then(() => {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Login success! Welcome to dashboard',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }).catch(error => {
                            this.isLoading = false;
                            Swal.fire({
                                icon: 'error',
                                title: 'Login fail',
                                text: 'Email or password invalid!',
                            })
                        })
                } else {
                    return [];
                }
            }
        },
    }
</script>
<style lang="css" scoped>
    .error {
        color: #e80e0e;
        font-size: 12px;
    }

    body {
        font-size: 13px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background: #0B87C9;
        color: #393939;
        line-height: 1.5;
    }

    body, h1, h2, h3, h4, div, p, span {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h1, h2, h3, h4 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    a {
        color: #fff;
    }

    a:active, a:hover {
        text-decoration: underline;
        color: #fff;
        outline: none;
    }

    #password-sent div.alert {
        border-radius: 0;
    }

    .login-container .login-frame {
        background: #fff;
        padding-bottom: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .login-container .login-frame .validation-summary-errors {
        color: #D19D59 !important;
    }

    .login-container .login-frame h3.heading {
        font-size: 23px;
        color: #478FCA !important;
        margin-bottom: 15px;
    }

    .login-container .login-frame h3.heading .fa.fa-lock {
        padding-right: 8px;
    }

    .login-container .login-frame .login-form .form-group.input-icon {
        position: relative;
    }

    .login-container .login-frame .login-form .form-group.input-icon i.fa.icon-right {
        position: absolute;
        left: auto;
        right: 7px;
        top: 9px;
        color: #909090;
        font-size: 16px;
    }

    .login-container .login-frame .login-form .form-group .checkbox {
        padding: 0;
        margin-top: 0;
    }

    .login-container .login-frame .login-form .btn-primary {
        background-color: #428BCA !important;
        border-color: #428BCA;
    }

    .login-container .login-frame .login-form .btn-primary:hover {
        background-color: #1B6AAA !important;
        border-color: #428BCA;
    }

    .login-container .login-frame .login-form .btn {
        border-radius: 3px !important;
    }

    .login-container .login-frame .login-form .btn i.fa.fa-key {
        margin-right: 5px;
    }

    .login-container .login-frame .login-form .btn-sm {
        border-width: 4px;
        font-size: 13px;
        padding: 4px 9px;
        line-height: 1.39;
        width: 50%;
        display: table;
        margin: 0 auto;
    }

    input[type="text"], input[type="password"] {
        border-radius: 3px !important;
        padding-left: 10px;
        box-shadow: none;
    }

    input[type="text"]:focus, input[type="password"]:focus {
        box-shadow: none;
        color: #696969;
        border-color: #F59942;
        background-color: #FFF;
        outline: medium none;
    }

    .padd-0 {
        padding: 0;
    }

    /* Register */
    .panel-succcess {
        font-size: 14px;
    }

    .panel-succcess .panel-heading {
        background-color: #0B87C9 !important;
        border-color: #0B87C9 !important;
        color: #FFF !important;
    }

    .panel-succcess .panel-heading .panel-title {
        font-size: 18px;
    }

    .panel-succcess .hotline {
        color: #D53F40;
        font-size: 20px;
    }
</style>
