<template>
    <div class="products">
        <div class="breadcrumbs-fixed panel-action">
            <div class="row">
                <div class="products-act">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="left-action text-left clearfix">
                            <h2>Nhóm sản phẩm</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-action text-right">
                            <div class="btn-groups">
                                <a href="" class="btn btn-primary"><i
                                    class="fa fa-plus"></i> Tạo nhóm sản phẩm
                                </a>
                                <button type="button" class="btn btn-success"><i class="fa fa-download"></i> Xuất
                                    Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-space orders-space"></div>
        <div class="products-content" style="display: flex; justify-content: space-between;">
            <div class="product-create" style="width: 40%;margin-right: 40px;background-color: #fff;margin-top: 10px;">
                <div class="card">
                    <div class="card-header"
                         style="background-color: #f2f2f2;padding: 8px 15px;margin-bottom: 20px;border: 1px solid #ddd;font-weight: 600;">
                        Thêm nhóm sản phẩm
                    </div>
                    <div class="card-body">
                        <div class="row form-horizontal">
                            <div class="col-md-12">
                                <ValidationObserver ref="observer">
                                    <form slot-scope="{ validate }" @submit.prevent="validate().then(createGroup)">
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>Tên danh mục</label>
                                            </div>
                                            <div class="col-md-8">
                                                <ValidationProvider rules="required|min_name:4|max:50" v-slot="{ errors }" class="validate-provider"
                                                                    name="Tên danh mục">
                                                <input type="text" v-model="group.pro_group_name" class="form-control"
                                                       placeholder="Nhập tên danh mục.">
                                                    <span class="error">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>Trạng thái</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select v-model="group.pro_group_status" class="form-control">
                                                    <option value="1">Publish</option>
                                                    <option value="0">Hidden</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>Mô tả</label>
                                            </div>
                                            <div class="col-md-8">
                                            <textarea style="padding-left: 10px" v-model="group.pro_group_description"
                                                      cols="45" rows="5" placeholder="Mô tả"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-4">
                                                <button type="submit" id="btn-save" class="btn btn-primary"
                                                        style="border-radius: 0 3px 3px 0;"><i
                                                    class="fa fa-floppy-o"></i> Lưu
                                                </button>
                                                <button type="reset" class="btn btn-primary"><i class="fa fa-close"></i> Hủy
                                                    bỏ
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </ValidationObserver>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-main" style="width: 60%">
                <div class="product-sear panel-sear">
                    <div class="">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" class="btn btn-danger" style="margin-left: 0">Xóa nhiều</a>
                        </div>
                        <div class="form-group col-md-4 padd-0">
                            <input type="text" class="form-control" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm">
                        </div>
                        <div class="form-group col-md-2 ">
                            <button type="button" class="btn btn-primary btn-large btn-ssup"><i
                                class="fa fa-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-main-body" id="dataRaw">
                    <ListGroupProduct :items="groups" @editItem="editGroup($event)" @getItemIds="deleteMultiGroup($event)"/>
                    <div class="alert alert-info summany-info clearfix" role="alert">
                        <div class="sm-info pull-left padd-0">SL nhóm sản phẩm hiển thị/SL nhóm sản phẩm:
                            <span>{{ totalGroupPage }}/{{ totalGroups }}</span></div>
                        <div class="pull-right ajax-pagination">
                            <Pagination
                                :total-page="paginate.totalPage"
                                :path="paginate.path"
                                :currentPage="paginate.currentPage"
                                :optionPage="paginateSelected"
                                @updateCurrentPage="listGroups(paginateSelected,$event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ListGroupProduct from './list-group-product'
    import Pagination from "../../containers/Pagination";
    import {mapActions, mapGetters} from 'vuex'
    import {ValidationObserver, ValidationProvider} from 'vee-validate';
    import messages from '../../commons/messages'

    export default {
        name: 'GroupProduct',
        components: {
            ListGroupProduct,
            Pagination,
            ValidationObserver,
            ValidationProvider
        },
        data() {
            return {
                group: {
                    pro_group_name: '',
                    pro_group_description: '',
                    pro_group_status: 1
                },
                paginate: {
                    totalPage: 0,
                    path: '',
                    currentPage: 0,
                    totalRecord: 0,
                    perPage: 0
                },
                totalGroupPage: 0,
                paginateSelected: '5',
                groupIds: [],
            }
        },
        computed: {
            ...mapGetters('group', {
                groups: 'groups',
                totalGroups: 'totalGroups'
            })
        },
        watch: {
            ['paginate.totalRecord']() {
                if (this.paginate.currentPage === this.paginate.totalPage && (this.paginate.totalRecord % this.paginate.perPage === 0)) {
                    this.paginate.currentPage -= 1
                }
            }
        },
        methods: {
            ...mapActions('group', ['getListGroups', 'addGroup', 'editGroupProduct']),
            openToastSuccess(message) {
                this.$toast.open({
                    message: message,
                    type: 'success',
                    duration: 5000,
                    dismissible: true,
                    position: 'bottom-right'
                })
            },
            openToastError(message) {
                this.$toast.open({
                    message: message,
                    type: 'error',
                    duration: 5000,
                    dismissible: true,
                    position: 'bottom-right'
                })
            },
            listGroups(optionPage = 5, currentPage = 1) {
                this.getListGroups({
                    optionPage: optionPage,
                    page: currentPage
                }).then(response => {
                    this.totalGroupPage = response.data.groups.data.length
                    this.paginate.totalPage = response.data.groups.last_page
                    this.paginate.path = response.data.groups.path
                    this.paginate.currentPage = response.data.groups.current_page
                    this.paginate.totalRecord = response.data.groups.total
                    this.paginate.perPage = response.data.groups.per_page
                }).catch(error => {
                    console.log(error)
                })
            },
            async createGroup() {
                const isValid = await this.$refs.observer.validate();
                if (isValid) {
                    await this.addGroup(this.group).then(response => {
                        this.openToastSuccess(messages.CREATE_GROUP_SUCCESS)
                        this.group = {}
                        this.listGroups();
                    }).catch(error => {
                        if (error.errors.pro_group_name) {
                            this.openToastError(messages.GROUP_PRODUCT_VALID)
                        }
                    })
                }
            },
            editGroup(groupId) {
                this.editGroupProduct(groupId).then(response => {
                    this.group = response.data.group
                }).catch(error => {
                    console.log(error);
                })
            },
            deleteMultiGroup(groupIds) {
                console.log('aaa'+groupIds)
            }
        },
        created() {
            this.listGroups();
        }
    }
</script>
