<template>
    <div class="table">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center"><label class="checkbox" style="margin: 0;">
                    <input type="checkbox" @click="selectAll" v-model="allSelected" class="checkbox"><span
                    style="width: 15px; height: 15px;"></span></label>
                </th>
                <th class="text-center">Tên nhóm</th>
                <th class="text-center">Slug</th>
                <th class="text-center">Trạng thái</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in items">
                <td class="text-center"><label class="checkbox" style="margin: 0;">
                    <input type="checkbox" v-model="groupIds" @click="select" :value="item.id" class="checkbox"><span
                    style="width: 15px; height: 15px;"></span></label>
                </td>
                <td class="text-left"
                    style="color: #2a6496; cursor: pointer;">{{ item.pro_group_name }}
                </td>
                <td class="text-center">{{ item.pro_group_slug }}</td>
                <td v-if="item.pro_group_status == 1">
                    <span class="badge badge-success">Publish</span>
                </td>
                <td v-else>
                    <span class="badge badge-secondary">Hidden</span>
                </td>
                <td class="text-center">
                    <i title="Copy" class="fa fa-files-o blue"
                       style="margin-right: 5px;"></i>
                    <i title="Sửa" class="fa fa-edit"
                       style="margin-right: 5px; color: #C6699F; cursor: pointer;" @click.prevent="editItemGroup(item.id)"></i>
                    <i class="fa fa-trash-o" style="color: darkred;"
                       title="Xóa"></i>
                    <i title="Ngừng kinh doanh" class="fa fa-pause"
                       style="margin-right: 5px; color: #C6699F; cursor: pointer;"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        props: {
            items: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                allSelected: false,
                groupIds: [],
            }
        },
        methods: {
            selectAll: function () {
                this.groupIds = [];
                if (!this.allSelected) {
                    for (let item in this.items) {
                        this.groupIds.push(this.items[item].id.toString());
                    }
                    this.$emit('getItemIds', this.groupIds)
                }
            },
            select: function () {
                this.allSelected = false;
                this.$emit('getItemIds', this.groupIds)
            },
            editItemGroup(groupId) {
                this.$emit('editItem', groupId)
            },
        },
    }
</script>

