<template>
    <div class="sidebar sidebar-fixed hidden-xs hidden-sm hidden-md" id="sidebar">
        <ul class="nav nav-pills nav-list nav-stacked">
            <router-link :to="{ name: 'Pos' }" tag="li" exact>
                <a href="javascript:void(0)" style="    color: white;background-color: #ffb752!important;"><i class="fa fa-tachometer"></i>Pos bán hàng</a>
            </router-link>
            <router-link :to="{ name: 'Dashboard' }" tag="li" exact>
                <a href="javascript:void(0)"><i class="fa fa-tachometer"></i>Tổng quan</a>
            </router-link>
            <li id="orders"><a href=""><i class="fa fa-shopping-cart"></i>Đơn hàng</a></li>
            <router-link :to="{ name: 'GroupProduct' }" tag="li" exact>
                <a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Danh mục</a>
            </router-link>
            <router-link :to="{ name: 'Manufactures' }" tag="li" exact>
                <a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Nhà sản xuất</a>
            </router-link>
            <router-link :to="{ name: 'Products' }" tag="li" exact>
                <a href="javascript:void(0)"><i class="fa fa-barcode"></i>Sản phẩm</a>
            </router-link>
            <router-link :to="{ name: 'Customers' }" tag="li" exact>
                <a href="javascript:void(0)"><i class="fa fa-users"></i>Khách hàng</a>
            </router-link>
            <router-link :to="{ name: 'Suppliers' }" tag="li" exact>
                <a href="javascript:void(0)"><i class="fa fa-users"></i>Nhà cung cấp</a>
            </router-link>
            <li id="notification"><a href=""><i class="fa fa-bell-o"></i>Thông báo</a></li>
            <li id="import"><a href=""><i class="fa fa-truck"></i>Nhập kho</a></li>
            <li id="inventory"><a href=""><i class="fa fa-list-alt"></i>Tồn kho</a></li>
            <li id="revenue"><a href=""><i class="fa fa-signal"></i>Doanh số</a></li>
            <li id="profit"><a href=""><i class="fa fa-usd"></i>Lợi nhuận</a></li>
            <li id="config"><a href=""><i class="fa fa-cogs"></i>Thiết lập</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Sidebar'
    }
</script>
