<template>
    <div class="table">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center"><label class="checkbox" style="margin: 0;"><input type="checkbox"
                                                                                          class="checkbox chkAll"><span
                    style="width: 15px; height: 15px;"></span></label></th>
                <th class="text-center">Tên nhà sản xuất</th>
                <th class="text-center">Slug</th>
                <th class="text-center">Mô tả</th>
                <th class="text-center">Trạng thái</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <label class="checkbox" style="margin: 0;"><input type="checkbox" class="checkbox chk"><span
                        style="width: 15px; height: 15px;"></span></label>
                </td>
                <td class="text-left"
                    style="color: #2a6496; cursor: pointer;">
                </td>
                <td class="text-center"></td>
                <td class="text-right"
                    style="font-weight: bold;">
                </td>
                <td></td>

                <td class="text-center">
                    <i title="Copy" class="fa fa-files-o blue"
                       style="margin-right: 5px;"></i>
                    <i title="Sửa" class="fa fa-edit" id="edit-manufacture"
                       style="margin-right: 5px; color: #C6699F; cursor: pointer;"></i>
                    <i class="fa fa-trash-o" style="color: darkred;"
                       title="Xóa"></i>
                    <i title="Ngừng kinh doanh" class="fa fa-pause"
                       style="margin-right: 5px; color: #C6699F; cursor: pointer;"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info summany-info clearfix" role="alert">
            <div class="sm-info pull-left padd-0">SL nhà sản xuất hiển thị/SL nhà sản xuất:
                <span>3/5</span></div>
            <div class="pull-right ajax-pagination">
                panigation
            </div>
        </div>
    </div>
</template>
