<template>
    <div class="table">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center"><label class="checkbox" style="margin: 0;"><input type="checkbox"
                                                                                          class="checkbox chkAll"><span
                    style="width: 15px; height: 15px;"></span></label></th>
                <th class="text-center">Mã KH</th>
                <th class="text-center">Tên KH</th>
                <th class="text-center">Điện thoại</th>
                <th class="text-center">Email</th>
                <th class="text-center">Ngày sinh</th>
                <th class="text-center">Giới tính</th>
                <th class="text-center">Địa chỉ</th>
                <th class="text-center">Lần cuối mua hàng</th>
                <th class="text-center" style="background-color: #fff;">Tổng tiền hàng</th>
                <th class="text-center">Nợ</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <label class="checkbox" style="margin: 0;"><input type="checkbox" class="checkbox chk"><span
                        style="width: 15px; height: 15px;"></span></label>
                </td>
                <td
                    class="text-center tr-detail-item"
                    style="cursor: pointer; color: #1b6aaa;"></td>
                <td
                    class="text-center tr-detail-item"
                    style="cursor: pointer; color: #1b6aaa;"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-right"
                    style="font-weight: bold; background-color: #f9f9f9;">20000000 đ
                </td>
                <td class="text-right">100000 đ</td>
                <td class="text-center">
                    <i class="fa fa-trash-o" style="margin-right: 5px;cursor:pointer;"></i>
                    <i class="fa fa-bell-o" style="cursor:pointer;" title="Thông báo" data-toggle="modal"
                       data-target="#modal-notification"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info summany-info clearfix" role="alert">
            <div class="ajax-loadlist-total sm-info pull-left padd-0">Số khách hàng:
                <span></span>
                Tổng tiền:
                <span> đ</span>
                Tổng nợ:
                <span> đ</span>
            </div>
            <div class="pull-right">
                pagination
            </div>
        </div>
    </div>
</template>
